/* @import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
  text-decoration: none;
  background-color: white;
  color: black;
  float: right;
  margin: 5px 5px;
  border: 1px solid rgb(19, 2, 2);
  padding: 2px 8px;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  line-height: 2em;
  font-size: 2em;
}

h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  line-height: 2em;
  font-size: 1.5em;
}

table {
  margin: auto;
  border: 2px solid rgb(0, 0, 0);
  border-collapse: collapse;
  width: 30%;
}

table td {
  font-size: larger;
  font-weight: 700;
}

table td:first-child {
  padding-left: 8px;
}

table tr:nth-child(odd) {
  background-color: rgb(212, 211, 211);
}

.hr-list {
  width: 22%;
  height: 3px;
  background-color: rgb(212, 211, 211);
  margin: 20px auto;
}

.form {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin: 0.5em 0;
  padding: 0.5em;
  width: 100%;
  outline: none;
  border: 3px solid black;
}

form button {
  display: flex;
  margin: 0 0 0 auto;
  width: 30%;
  padding: 0.5em;
  background: transparent;
  outline: none;
  border: 2px solid rgb(112, 110, 110);
  box-shadow: 3px 3px rgb(112, 110, 110);
}
